In [19]:
import pandas as pd
import numpy as np
from IPython.core.display_functions import display

### read csv

In [21]:
df = pd.read_csv('immowebepc.csv')
display(df)

,id,type,subtype,price,transactionType,kitchen_type,energy_heatingType,bedroom_count,land_surface,outdoor_terrace_exists,outdoor_garden_surface,wellnessEquipment_hasSwimmingPool,condition_isNewlyBuilt,location,region,province,EPC
0,10163960,apartment,apartment,180000,for sale,installed,gas,2,NaN,true,NaN,NaN,NaN,Aalst,['Vlaanderen'],['Oost-Vlaanderen'],[None]
1,10164023,apartment,apartment,210000,for sale,not installed,gas,2,NaN,true,NaN,NaN,NaN,Aalst,['Vlaanderen'],['Oost-Vlaanderen'],[None]
2,10093468,apartment,apartment,299000,for sale,installed,gas,2,NaN,NaN,NaN,NaN,NaN,Aalst,['Vlaanderen'],['Oost-Vlaanderen'],[None]
3,10160241,apartment,apartment,375000,for sale,hyper equipped,gas,2,NaN,true,NaN,NaN,1,Aalst,['Vlaanderen'],['Oost-Vlaanderen'],[None]
4,10164025,apartment,apartment,259000,for sale,installed,gas,2,NaN,true,NaN,NaN,NaN,Aalst,['Vlaanderen'],['Oost-Vlaanderen'],[None]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21193,10066760,apartment,apartment,599000,for sale,hyper equipped,gas,2,NaN,true,110,NaN,NaN,Brussel,['Brussel'],['Brussel'],[None]
21194,10025476,apartment,apartment,600000,for sale,semi equipped,fueloil,3,NaN,NaN,NaN,NaN,NaN,Brussel,['Brussel'],['Brussel'],[None]
21195,10083841,apartment,apartment,619000,for sale,installed,fueloil,4,NaN,true,NaN,NaN,NaN,Brussel,['Brussel'],['Brussel'],[None]
21196,10083842,apartment,apartment,619000,for sale,installed,fueloil,4,NaN,true,NaN,NaN,NaN,Brussel,['Brussel'],['Brussel'],[None]
21197,10096315,apartment,penthouse,599900,for sale,hyper equipped,gas,3,NaN,true,NaN,NaN,NaN,Brussel,['Brussel'],['Brussel'],[None]

### drop column swimmingpool

In [22]:
df.drop('wellnessEquipment_hasSwimmingPool', axis=1, inplace=True)
display(df)

,id,type,subtype,price,transactionType,kitchen_type,energy_heatingType,bedroom_count,land_surface,outdoor_terrace_exists,outdoor_garden_surface,condition_isNewlyBuilt,location,region,province,EPC
0,10163960,apartment,apartment,180000,for sale,installed,gas,2,NaN,true,NaN,NaN,Aalst,['Vlaanderen'],['Oost-Vlaanderen'],[None]
1,10164023,apartment,apartment,210000,for sale,not installed,gas,2,NaN,true,NaN,NaN,Aalst,['Vlaanderen'],['Oost-Vlaanderen'],[None]
2,10093468,apartment,apartment,299000,for sale,installed,gas,2,NaN,NaN,NaN,NaN,Aalst,['Vlaanderen'],['Oost-Vlaanderen'],[None]
3,10160241,apartment,apartment,375000,for sale,hyper equipped,gas,2,NaN,true,NaN,1,Aalst,['Vlaanderen'],['Oost-Vlaanderen'],[None]
4,10164025,apartment,apartment,259000,for sale,installed,gas,2,NaN,true,NaN,NaN,Aalst,['Vlaanderen'],['Oost-Vlaanderen'],[None]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21193,10066760,apartment,apartment,599000,for sale,hyper equipped,gas,2,NaN,true,110,NaN,Brussel,['Brussel'],['Brussel'],[None]
21194,10025476,apartment,apartment,600000,for sale,semi equipped,fueloil,3,NaN,NaN,NaN,NaN,Brussel,['Brussel'],['Brussel'],[None]
21195,10083841,apartment,apartment,619000,for sale,installed,fueloil,4,NaN,true,NaN,NaN,Brussel,['Brussel'],['Brussel'],[None]
21196,10083842,apartment,apartment,619000,for sale,installed,fueloil,4,NaN,true,NaN,NaN,Brussel,['Brussel'],['Brussel'],[None]
21197,10096315,apartment,penthouse,599900,for sale,hyper equipped,gas,3,NaN,true,NaN,NaN,Brussel,['Brussel'],['Brussel'],[None]

### drop duplicate row base on same id

In [23]:
dataset_2 = pd.DataFrame(df)
dataset_2_non_dup = dataset_2.drop_duplicates(subset='id', keep='last')

display(dataset_2_non_dup)

,id,type,subtype,price,transactionType,kitchen_type,energy_heatingType,bedroom_count,land_surface,outdoor_terrace_exists,outdoor_garden_surface,condition_isNewlyBuilt,location,region,province,EPC
249,10156559,apartment group,apartment group,495000 - 580000,for sale,NaN,NaN,NaN,NaN,NaN,NaN,1,Brussel,['Brussel'],['Brussel'],[None]
10027,10116724,house,house,444000,for sale,installed,NaN,4,322,NaN,NaN,NaN,Halle-Vilvoorde,['Vlaanderen'],['Vlaams Brabant'],[None]
10876,10164025,apartment,apartment,259000,for sale,installed,gas,2,NaN,true,NaN,NaN,Aalst,['Vlaanderen'],['Oost-Vlaanderen'],[None]
10877,10160241,apartment,apartment,375000,for sale,hyper equipped,gas,2,NaN,true,NaN,1,Aalst,['Vlaanderen'],['Oost-Vlaanderen'],[None]
10878,10164023,apartment,apartment,210000,for sale,not installed,gas,2,NaN,true,NaN,NaN,Aalst,['Vlaanderen'],['Oost-Vlaanderen'],[None]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21193,10066760,apartment,apartment,599000,for sale,hyper equipped,gas,2,NaN,true,110,NaN,Brussel,['Brussel'],['Brussel'],[None]
21194,10025476,apartment,apartment,600000,for sale,semi equipped,fueloil,3,NaN,NaN,NaN,NaN,Brussel,['Brussel'],['Brussel'],[None]
21195,10083841,apartment,apartment,619000,for sale,installed,fueloil,4,NaN,true,NaN,NaN,Brussel,['Brussel'],['Brussel'],[None]
21196,10083842,apartment,apartment,619000,for sale,installed,fueloil,4,NaN,true,NaN,NaN,Brussel,['Brussel'],['Brussel'],[None]
21197,10096315,apartment,penthouse,599900,for sale,hyper equipped,gas,3,NaN,true,NaN,NaN,Brussel,['Brussel'],['Brussel'],[None]

### change column name

In [24]:
dataset_3 = pd.DataFrame(dataset_2_non_dup)
dataset_3.rename(columns={'kitchen_type':'kitchen', 'energy_heatingType':'heating', 'bedroom_count': 'bedroom', 'land_surface':'land surface', 'outdoor_terrace_exists':'terrace', 'outdoor_garden_surface': 'garden surface', 'condition_isNewlyBuilt':'property condition'}, inplace=True)
display(dataset_3)

,id,type,subtype,price,transactionType,kitchen,heating,bedroom,land surface,terrace,garden surface,property condition,location,region,province,EPC
249,10156559,apartment group,apartment group,495000 - 580000,for sale,NaN,NaN,NaN,NaN,NaN,NaN,1,Brussel,['Brussel'],['Brussel'],[None]
10027,10116724,house,house,444000,for sale,installed,NaN,4,322,NaN,NaN,NaN,Halle-Vilvoorde,['Vlaanderen'],['Vlaams Brabant'],[None]
10876,10164025,apartment,apartment,259000,for sale,installed,gas,2,NaN,true,NaN,NaN,Aalst,['Vlaanderen'],['Oost-Vlaanderen'],[None]
10877,10160241,apartment,apartment,375000,for sale,hyper equipped,gas,2,NaN,true,NaN,1,Aalst,['Vlaanderen'],['Oost-Vlaanderen'],[None]
10878,10164023,apartment,apartment,210000,for sale,not installed,gas,2,NaN,true,NaN,NaN,Aalst,['Vlaanderen'],['Oost-Vlaanderen'],[None]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21193,10066760,apartment,apartment,599000,for sale,hyper equipped,gas,2,NaN,true,110,NaN,Brussel,['Brussel'],['Brussel'],[None]
21194,10025476,apartment,apartment,600000,for sale,semi equipped,fueloil,3,NaN,NaN,NaN,NaN,Brussel,['Brussel'],['Brussel'],[None]
21195,10083841,apartment,apartment,619000,for sale,installed,fueloil,4,NaN,true,NaN,NaN,Brussel,['Brussel'],['Brussel'],[None]
21196,10083842,apartment,apartment,619000,for sale,installed,fueloil,4,NaN,true,NaN,NaN,Brussel,['Brussel'],['Brussel'],[None]
21197,10096315,apartment,penthouse,599900,for sale,hyper equipped,gas,3,NaN,true,NaN,NaN,Brussel,['Brussel'],['Brussel'],[None]

### remove [] and ''

In [49]:
dataset_4 = pd.DataFrame(dataset_3)
column_to_check = ['region', 'province', 'EPC']
dataset_4[column_to_check] = dataset_4[column_to_check].replace(r'[[\[\]\'\" ]', '', regex=True)

display(dataset_4)

,id,type,subtype,price,transactionType,kitchen,heating,bedroom,land surface,terrace,garden surface,property condition,location,region,province,EPC
249,10156559,apartment group,apartment group,495000 - 580000,for sale,NaN,NaN,NaN,NaN,NaN,NaN,1,Brussel,Brussel,Brussel,None
10027,10116724,house,house,444000,for sale,installed,NaN,4,322,NaN,NaN,NaN,Halle-Vilvoorde,Vlaanderen,VlaamsBrabant,None
10876,10164025,apartment,apartment,259000,for sale,installed,gas,2,NaN,true,NaN,NaN,Aalst,Vlaanderen,Oost-Vlaanderen,None
10877,10160241,apartment,apartment,375000,for sale,hyper equipped,gas,2,NaN,true,NaN,1,Aalst,Vlaanderen,Oost-Vlaanderen,None
10878,10164023,apartment,apartment,210000,for sale,not installed,gas,2,NaN,true,NaN,NaN,Aalst,Vlaanderen,Oost-Vlaanderen,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21193,10066760,apartment,apartment,599000,for sale,hyper equipped,gas,2,NaN,true,110,NaN,Brussel,Brussel,Brussel,None
21194,10025476,apartment,apartment,600000,for sale,semi equipped,fueloil,3,NaN,NaN,NaN,NaN,Brussel,Brussel,Brussel,None
21195,10083841,apartment,apartment,619000,for sale,installed,fueloil,4,NaN,true,NaN,NaN,Brussel,Brussel,Brussel,None
21196,10083842,apartment,apartment,619000,for sale,installed,fueloil,4,NaN,true,NaN,NaN,Brussel,Brussel,Brussel,None
21197,10096315,apartment,penthouse,599900,for sale,hyper equipped,gas,3,NaN,true,NaN,NaN,Brussel,Brussel,Brussel,None

average price of each province and each region

In [61]:

#filter price with range
dataset_5 = pd.DataFrame(dataset_4)
dataset_5 = dataset_5[dataset_5['price'].str.contains('-')]
print(dataset_5)

             id             type          subtype            price  \
249    10156559  apartment group  apartment group  495000 - 580000
10881  10163793      house group      house group  309000 - 353000
10882  10164465  apartment group  apartment group  137500 - 160500
10883  10077980      house group      house group  332000 - 378500
10888  10164672  apartment group  apartment group  489000 - 849000
...         ...              ...              ...              ...
18525  10068530      house group      house group  498000 - 498000
18526   9787230      house group      house group  529200 - 638000
18527  10085546      house group      house group  575000 - 584000
18531   9656630      house group      house group  635000 - 645000
19965  10164219  apartment group  apartment group  405000 - 556900

      transactionType kitchen heating bedroom land surface terrace  \
249          for sale     NaN     NaN     NaN          NaN     NaN
10881        for sale     NaN     NaN     NaN          NaN     NaN
10882        for sale     NaN     NaN     NaN          NaN     NaN
10883        for sale     NaN     NaN     NaN          NaN     NaN
10888        for sale     NaN     NaN     NaN          NaN     NaN
...               ...     ...     ...     ...          ...     ...
18525        for sale     NaN     NaN     NaN          NaN     NaN
18526        for sale     NaN     NaN     NaN          NaN     NaN
18527        for sale     NaN     NaN     NaN          NaN     NaN
18531        for sale     NaN     NaN     NaN          NaN     NaN
19965        for sale     NaN     NaN     NaN          NaN     NaN

      garden surface property condition         location      region  \
249              NaN                  1          Brussel     Brussel
10881            NaN                  1            Aalst  Vlaanderen
10882            NaN                  1            Aalst  Vlaanderen
10883            NaN                  1            Aalst  Vlaanderen
10888            NaN                  1            Aalst  Vlaanderen
...              ...                ...              ...         ...
18525            NaN                  1         Turnhout  Vlaanderen
18526            NaN                  1         Turnhout  Vlaanderen
18527            NaN                  1         Turnhout  Vlaanderen
18531            NaN                  1         Turnhout  Vlaanderen
19965            NaN                  1  Halle-Vilvoorde  Vlaanderen

              province   EPC
249            Brussel  None
10881  Oost-Vlaanderen  None
10882  Oost-Vlaanderen  None
10883  Oost-Vlaanderen  None
10888  Oost-Vlaanderen  None
...                ...   ...
18525        Antwerpen  None
18526        Antwerpen  None
18527        Antwerpen  None
18531        Antwerpen  None
19965    VlaamsBrabant  None

[1266 rows x 16 columns]

house & apartment number in different region

number of houses on different EPC level